<!DOCTYPE html>
<html>
    <body>
        <main>
            <form>
                <h1>Sign Un</h1>
                <label for="username">Username</label>
                <input type="username" id="username" name="username" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Sign In</button>
                <p>Already have an account? <a>Sign In</a></p>
            </form>
        </main>
    </body>
</html>